@media (max-width: 1000px) {
   h2{
    text-align: center;
    font-size:60px ;
   }
 .main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 }
 .first{
    width: 50%;
 }
 .maintwo{
    width: 50%;
 }

  }

  @media (max-width: 720px) {
    .main{
        width: 20%;
 
   }
}