


.section1 {

    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 8rem;
    padding-top: 12rem;
   overflow-x: hidden;

}
span {
  width: 360px;
  height: 20px;
}

.input {
  gap: 16px;
  margin-top: 50px;
  display: grid;
}

.input input {
  border: 1px solid #d9d9d9;
  width: 360px;
  background-color: #fbfbfb;
  gap: 12px;
  padding: 8px, 16px, 8px, 16px;
}

button {
  color: white;
  background: linear-gradient(
      92.65deg,
      #ff5956 11.05%,
      #ff2171 55.11%,
      #fc6549 92.38%
    ),
    #ff5956;
    width: 100%;
  max-width: 360px;
  height: 40px;
  left: 192px;
  top: 497px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding:22px;
}





@media (max-width: 768px) {
    .section1 {
      padding: 2rem;
    }
  
    .input {
      grid-template-columns: 1fr;
    }
  
    .input input {
      width: 100%;
    }
  
    button {
      width: 80%;
    }

    .section2 {
        flex-direction: column; 
        align-items: center; 
      }
    
      .icons {
        flex-wrap: wrap;
        justify-content: center;
       
      }
    
      .icons p {
        margin: 10px;
      }
  }
  