.icons{

    gap: 40px;
}

@media (max-width: 768px) {
   
    .section2 {
        flex-direction: column; 
        align-items: center; 
      }
    
      .icons {
        flex-wrap: wrap;
        justify-content: center;
       
      }
    
      .icons p {
        margin: 10px;
      }
  }
  